/*
 * Globals
 */

/* Custom default button styles */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333; /* Set text color to dark gray */
  text-shadow: none; /* Remove any text shadow inherited from the body */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); /* Apply subtle shadow to text */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); /* Apply inset shadow to the body */
  background-image: url("../img/products.jpg"); /* Set background image */
}


/*
 * Header
 */

/* Style the navigation links in the masthead */
.nav-masthead .nav-link {
  padding: .25rem 0; /* Add vertical padding */
  font-weight: 700; /* Make text bold */
  color: white; /* Set text color to white */
  background-color: transparent; /* Make background transparent */
  border-bottom: .25rem solid transparent; /* Set a transparent border at the bottom */
}

/* Add hover and focus effects on nav links */
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: pink; /* Change the border color to pink when the link is hovered or focused */
}

/* Add margin between consecutive navigation links */
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; /* Add space between links */
}

/* Style for the active link in the masthead */
.nav-masthead .active {
  color: pink; /* Set active link text color to pink */
  border-bottom-color: pink; /* Set bottom border to pink */
}

/* Apply bolder font weight and color */
.fw-bolder {
  font-weight: bolder !important; /* Override other font-weight settings */
  color: black; /* Set color to black */
}

/* Style for card body content */
.card-body {
  flex: 1 1 auto; /* Allow the card body to grow and shrink */
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); /* Apply padding defined by Bootstrap's variables */
  color: black; /* Set text color to black */
}
